<div class="text-center"><h3>Product list</h3></div>
<div [hidden]="!table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Measure unit</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
            <td>{{p?.name}}</td>
            <td>{{getUnitName(p?.unitId)}}</td>
            <td class="text-right">
                <button class="btn btn-xs btn-primary" (click)="editProduct(u)">Update</button>
                <button class="btn btn-xs btn-danger" (click)="delete(u)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <form>
        <div class="text-right" style="margin-right: 7px">
            <input type="button" value="Add" class="btn btn-default" (click)="add()" />
        </div>
    </form>
</div>

<div [hidden]="!editForm">
    <form>
        <div class="form-group">
            <label>Product name:</label>
                <input type="text" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" class="form-control" />

        </div>
        <div class="form-group">
            <label>Measurement unit:</label>
            <select [(ngModel)]="product.unitId" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let u of units">{{u?.name}}</option>
            </select>
        </div>
            <div class="text-right">
                <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
                <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-danger" />
            </div>
    </form>
</div>

<div [hidden]="!addForm">
    <form>
        <div class="form-group">
            <label>Product name:</label>
            <input type="text" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" class="form-control" />
            
        </div>
        <div class="form-group">
            <label>Measurement unit:</label>
            <select [(ngModel)]="product.unitId" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let u of units" [ngValue]="u.id">{{u?.name}}</option>
            </select>
        </div>
            <div class="text-right">
                <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
                <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-danger" />
            </div>
    </form>
</div>
