<br>
<form #login = "ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)] = "user.email" name="email" required>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)] = "user.password" name="password" required>
    </div>

    <button type="submit" class="btn btn-success">Login</button> or <a [routerLink]="['/register']">Register</a>
    
    
    
</form>