<div [hidden]="!recipeList">
    <div class="text-center"><h3>Recipe list</h3></div>
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Name:</th>
            <th>Description:</th>
            <th class="text-right">Actions:</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes">
                <td></td>
                <td></td>
                <td class="text-right">
                    <button class="btn btn-xs btn-primary" (click)="editRecipe(r)">Update</button>
                    <button class="btn btn-xs btn-danger" (click)="delete(r)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button type="button" class="btn btn-default" (click)="add()">Add</button>
    </div>
</div>
<div [hidden]="!recipeAdd">
    <div class="text-center"><h4>Add recipe</h4></div>
    <form [formGroup]="recipeForm" novalidate (ngSubmit)="save(recipeForm)" class="form-horizontal" role="form">
        <!-- we will place our fields here -->

        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control">
            <!--display error message if name is not valid-->
            <small *ngIf="!recipeForm.get('name').valid" class="text-danger">
                Name is required (minimum 5 characters).
            </small>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea type="text" formControlName="description" class="form-control"></textarea>
            <!--display error message if name is not valid-->
            <small *ngIf="!recipeForm.get('description').valid" class="text-danger">
                Description is required (minimum 10 characters).
            </small>
        </div>

        <div formArrayName="ingredients" class="form-group">
            <label>Ingredients</label>
            <div *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i=index">
                <div [formGroupName]="i" class="form-group row">
                    <!--<label class="col-md-2">{{ i +1 }}</label>-->
                    <div class="col-sm-4">
                        <select formControlName="product" class="form-control">
                            <option *ngFor="let product of products" [ngValue]="product">
                                {{ product.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" formControlName="count" class="form-control">
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger"
                                *ngIf="recipeForm.get('ingredients').controls.length > 1" (click)="removeIngredient(i)">X</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-success" (click)="addIngredient()">Add ingredient</button>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>

    </form>
</div>