<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">RecipesSite</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-log-in'></span> Login
                    </a>
                </li>
                <!--<li [routerLinkActive]="['link-active']">-->
                    <!--<a [routerLink]="['/register']">-->
                        <!--<span class='glyphicon glyphicon-education'></span> Register-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <div style="color: gray;border-bottom: 1px solid gray">Editor:</div>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/recipes']">
                        <span class='glyphicon glyphicon-cutlery'></span> Recipe list
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/products']">
                        <span class='glyphicon glyphicon-apple'></span> Products list
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/units']">
                        <span class='glyphicon glyphicon-stats'></span> Units list
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
