<div class="text-center"><h3>Measurement unit list</h3></div>
<div [hidden]="!table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Meashurement unit name:</th>
            <th class="text-right">Actions:</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of units">
                <td>{{u?.name}}</td>
                <td class="text-right">
                    <button class="btn btn-xs btn-primary" (click)="editUnit(u)">Update</button>
                    <button class="btn btn-xs btn-danger" (click)="delete(u)">Delete</button>
                </td>
        </tr>
        </tbody>
    </table>
    <form>
        <div class="text-right" style="margin-right: 7px">
            <input type="button" value="Add" class="btn btn-default" (click)="add()" /> 
        </div>
    </form>
</div>

<div [hidden]="!editForm">
        <div class="form-group">
            <label>Meashurement unit name:</label>
            <input type="text" [(ngModel)]="unit.name" [ngModelOptions]="{standalone: true}" class="form-control" />
        </div>
        <div class="text-right">
            <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
            <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
        </div>
</div>

<div [hidden]="!addForm">
    <form>
        <div class="form-group">
            <label>Meashurement unit name:</label>
            <input type="text" [(ngModel)]="unit.name" [ngModelOptions]="{standalone: true}" class="form-control" />
        </div>
        <div class="text-right">
            <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
            <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-danger" />
        </div>
    </form>
</div>
